n8n/Generate Structured Summary & Q&A from Documents Automatically.json
{
  "name": "Generate Structured Summary & Q&A from Documents Automatically",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0bee2a20-91de-4118-ae5e-4ff440a2dd4a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2512,
        592
      ],
      "webhookId": "20697c3e-c1cc-45d2-9aee-766fc502c60c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cc971d34-a0e4-4825-977b-18566d0e3e35",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $binary.file.fileExtension }}",
              "rightValue": "pdf"
            }
          ]
        },
        "options": {}
      },
      "id": "1358a0ff-d729-4517-b8bd-5d6d8248b7d7",
      "name": "Check If Uploaded File Is PDF",
      "type": "n8n-nodes-base.if",
      "position": [
        2784,
        416
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "7aa68c36-640e-4ff0-873c-779db3e2bc83",
      "name": "Extract Text from PDF File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        3104,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cc971d34-a0e4-4825-977b-18566d0e3e35",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $binary.file.fileExtension }}",
              "rightValue": "txt"
            }
          ]
        },
        "options": {}
      },
      "id": "a56dcd1b-a557-40a1-b1cf-efbfdb2240ed",
      "name": "Check If Uploaded File Is TXT",
      "type": "n8n-nodes-base.if",
      "position": [
        2784,
        752
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "b68b2ba2-84f7-480d-9939-b4b1d02befdc",
      "name": "Extract Text from TXT File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        3088,
        736
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Read the following document text and generate:\n\n1. A clear summary (150–200 words)\n2. 5 important questions about the document\n3. Answers for each question\n\nDocument Text:\n{{ $json[\"text\"] }}\n\nReturn the output STRICTLY in this JSON format (no additional text):\n\n{\n  \"summary\": \"...\",\n  \"qa\": [\n    { \"q\": \"Question 1\", \"a\": \"Answer 1\" },\n    { \"q\": \"Question 2\", \"a\": \"Answer 2\" },\n    { \"q\": \"Question 3\", \"a\": \"Answer 3\" },\n    { \"q\": \"Question 4\", \"a\": \"Answer 4\" },\n    { \"q\": \"Question 5\", \"a\": \"Answer 5\" }\n  ]\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert AI document analyst. \nYour job is to read long documents and produce a clean summary and structured Q&A.\n\nRules:\n- Be accurate.\n- Be concise.\n- Do NOT add any content that is not inside the document.\n- Always return the result in JSON format.\n"
        }
      },
      "id": "adcf10a1-9325-4462-bd72-a02a846c711d",
      "name": "Generate Summary & Q&A Using AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3504,
        576
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"Write a 150–200 word summary here.\",\n  \"qa\": [\n    {\n      \"q\": \"Question text here\",\n      \"a\": \"Answer text here\"\n    }\n  ]\n}\n"
      },
      "id": "a1b8335f-b786-43a6-b3aa-491bc081e78f",
      "name": "Parse AI Summary and Q&A into Structured JSON",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3744,
        944
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "\"json_review\"",
        "contextWindowLength": 7
      },
      "id": "36ca3b26-a080-4522-9a09-d4a33b40ccf7",
      "name": "Store AI Memory for Document Analysis Session",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        3568,
        896
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e2adb005-2b3c-4d1e-8445-442df1fe925a",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "6d94830c-21f0-4481-9169-8738490bbe16",
      "name": "Validate AI Output Before Processing",
      "type": "n8n-nodes-base.if",
      "position": [
        4032,
        576
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "let out = $json.output;\n\n// If array → unwrap\nif (Array.isArray(out)) {\n  out = out[0];\n}\n\nreturn out;\n"
      },
      "id": "6f2e1a9a-5270-443d-a161-549ad807aeae",
      "name": "Unwrap AI Output Object",
      "type": "n8n-nodes-base.code",
      "position": [
        4320,
        576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Extract the input item\nlet item = $input.item;\n\n// If array, unwrap the first object\nif (Array.isArray(item)) {\n  item = item[0];\n}\n\n// Return the item inside an array so n8n does NOT re-wrap it\nreturn [\n  item\n];\n"
      },
      "id": "575c7338-540f-496d-b4a8-3c5de66d2f6a",
      "name": "Prepare Final Response Payload",
      "type": "n8n-nodes-base.code",
      "position": [
        4592,
        576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "88514a2d-3559-46ba-9e8a-6b9e4b6eef9e",
      "name": "Send Final Summary & Q&A Response to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        4960,
        576
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "content": "## 📥 Document Intake & File Type Validation\nReceives uploaded documents and determines whether the file is PDF or TXT.\n\n• Receive Document Upload via Webhook  \n  Captures uploaded binary files and forwards to file-type validation.\n\n• Check If Uploaded File Is PDF  \n  Validates extension and routes PDF files for text extraction.\n\n• Check If Uploaded File Is TXT  \n  Validates extension and routes TXT files for text extraction.\n",
        "height": 896,
        "width": 544,
        "color": 7
      },
      "id": "5302525f-5bb9-4979-b959-e5064bf07838",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📝 File Text Extraction\nExtracts readable text from uploaded documents.\n\n• Extract Text from PDF File  \n  Converts PDF binary → plain text for AI processing.\n\n• Extract Text from TXT File  \n  Reads raw text content directly from TXT files.\n",
        "height": 880,
        "width": 304,
        "color": 7
      },
      "id": "eb3031a1-95e1-4c96-9794-2c023f796509",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🤖 AI Summary + Q&A Generation\nProduces structured JSON with summary + 5 question-answer pairs.\n\n• Provide LLM Engine for Document Analysis  \n  Supplies GPT-4o model for summarization and Q&A.\n\n• Store AI Memory for Document Analysis Session  \n  Helps the AI maintain short-term context across retries.\n\n• Generate Summary & Q&A Using AI  \n  Creates:  \n  – 150–200 word summary  \n  – 5 questions + answers  \n  Returns output in strict JSON format.\n\n• Parse AI Summary and Q&A into Structured JSON  \n  Converts the LLM output into a strongly typed JSON object.\n",
        "height": 1136,
        "width": 608,
        "color": 7
      },
      "id": "17579271-cd09-4a55-8ff4-561acd659dbc",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3328,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚠️ AI Output Validation & Error Logging\nEnsures the AI returned valid structured JSON before sending to the user.\n\n• Validate AI Output Before Processing  \n  Confirms the \"output\" object is not empty.\n\n• Log Invalid AI Output to Google Sheet  \n  Stores malformed or empty outputs for debugging.\n\n• Unwrap AI Output Object  \n  Cleans the JSON output so downstream nodes receive a single, clean object.\n",
        "height": 832,
        "width": 544,
        "color": 7
      },
      "id": "99be4676-8223-4579-802e-2f0294be32fd",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3968,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📤 Final Response Delivery & Slack Preview\nPrepares the final JSON output and sends it to the requester + Slack.\n\n• Prepare Final Response Payload  \n  Ensures response is a clean JSON object without nested arrays.\n\n• Send Final Summary & Q&A Response to Webhook  \n  Sends the formatted JSON back to the calling system.\n\n• Send Summary Preview to Slack  \n  Sends a short preview snippet (first 300 chars) to Slack for visibility.\n",
        "height": 800,
        "width": 576,
        "color": 7
      },
      "id": "49928686-54df-4bb3-890e-9c2d51940b17",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4528,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3408,
        896
      ],
      "id": "ba184d4b-2c3d-47b1-b0a3-cac2c03e2ba2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rrDDV3KFgD9MoZfJ",
          "name": "Google Gemini(PaLM) Api account 7"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": "U09HMPVD466",
          "cachedResultName": "newscctv22"
        },
        "text": "=Short Summary:\n{{ $json.summary.substring(0, 300) }}...",
        "otherOptions": {}
      },
      "id": "c6007da8-1d2c-4a34-8358-620785eb2182",
      "name": "Send Summary Preview to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        4864,
        304
      ],
      "webhookId": "ddaa7632-9e35-4bd3-82d6-572d5cae84cc",
      "typeVersion": 2.3,
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check If Uploaded File Is PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check If Uploaded File Is TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unwrap AI Output Object": {
      "main": [
        [
          {
            "node": "Prepare Final Response Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF File": {
      "main": [
        [
          {
            "node": "Generate Summary & Q&A Using AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from TXT File": {
      "main": [
        [
          {
            "node": "Generate Summary & Q&A Using AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Uploaded File Is PDF": {
      "main": [
        [
          {
            "node": "Extract Text from PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Uploaded File Is TXT": {
      "main": [
        [
          {
            "node": "Extract Text from TXT File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Response Payload": {
      "main": [
        [
          {
            "node": "Send Final Summary & Q&A Response to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Summary Preview to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary & Q&A Using AI": {
      "main": [
        [
          {
            "node": "Validate AI Output Before Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate AI Output Before Processing": {
      "main": [
        [
          {
            "node": "Unwrap AI Output Object",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Parse AI Summary and Q&A into Structured JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Summary & Q&A Using AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Store AI Memory for Document Analysis Session": {
      "ai_memory": [
        [
          {
            "node": "Generate Summary & Q&A Using AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Summary & Q&A Using AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "15a073db-b0d3-4603-8237-189e96189346",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d13472feb589274369fdb92d0735729a31106f19e1f05d7011af1fedc323ca28"
  },
  "id": "LcV2Egsds0WhyHI4",
  "tags": []
}